
html {
	background: url(../img/diver_hi_res.jpg) no-repeat center top fixed;
	object-position: 50% 0;
}


body{
	margin:0px auto;
	line-height:1.6;
	font-size:18px;
	color:#FFF;
	font-family: helvetica, sans-serif;
	display: flex;
	flex-flow: column;
}

body > div {
display: inline-block;
}

.peek_window{
	height: 70vh;
	flex: 0 0 100%;
	vertical-align: bottom;
	display: flex;
	border: 2px solid #f00;
	position: relative;
}

.namebox{
	font-size: 20vh;
	line-height: 1.0;
	border: 2px solid #0f0;
	position: absolute;
  bottom: -0.17em;
	margin-bottom: 0px;
	vertical-align: bottom;
}


.contact_info{
	width: 70%;
	padding: 10px;
	margin-left:auto;
}


.blue_background{
background-color: rgba(0,0,255,0.9);
width: 100%;
margin: 0;
padding: 0;
top: 0;
left: 0;
}
